@import "../../../assets/scss/foundation/variables";

.app__slider {
  position: relative;

  &.touched {
    touch-action: none;
  }

  .app__radios {
    position: absolute;
    z-index: 1;

    bottom: $s-xs;
    right: $s-xs;

    bottom: var(--s-xs);
    right: var(--s-xs);
  }
}